@font-face
  font-family: 'Luiss Sans'
  font-style : normal
  font-weight: normal
  src        : local('Luiss Sans Regular'), url('/fonts/LuissSans-Regular.woff') format('woff')

@font-face
  font-family: 'Luiss Sans'
  font-style : italic
  font-weight: normal
  src        : local('Luiss Sans italic'), url('/fonts/LuissSans-italic.woff') format('woff')

@font-face
  font-family: 'Luiss Sans'
  font-style : normal
  font-weight: bold
  src        : local('Luiss Sans Bold'), url('/fonts/LuissSans-Bold.woff') format('woff')

@font-face
  font-family: 'Luiss Sans'
  font-style : italic
  font-weight: bold
  src        : local('Luiss Sans Bold Italic'), url('/fonts/LuissSans-BoldItalic.woff') format('woff')