@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r005cw');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r005cw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r005cw') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r005cw') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r005cw##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: block;
    width: 2em;
    text-align: center;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-dot-arrow {
  &:before {
    content: $icon-dot-arrow; 
  }
}
.icon-dot-left-arrow {
  &:before {
    content: $icon-dot-left-arrow; 
  }
}
.icon-dot-right-arrow {
  &:before {
    content: $icon-dot-right-arrow; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}

