// https://css-tricks.com/the-current-state-of-styling-scrollbars/
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  $width-val: auto !default;
  @if $size <= 0px {
    $width-val: none;
  } @else if $size <= 10px {
    $width-val: thin;
  }

  scrollbar-width: $width-val;
  scrollbar-color: $foreground-color $background-color;

  // For Google Chrome
  &::-webkit-scrollbar {
    width : $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color : $foreground-color;
    scrollbar-track-color: $background-color;
  }
}