/* Based on Lit (20180929)

$font: 'Segoe UI', 'Noto Sans JP', 'Source Han Sans', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', sans-serif
$primary-color: #fa0
$light: #eee

// * + *
//   box-sizing: border-box
//   margin: .5em 0

@media (min-width: 35em)
  .col
    display: table-cell
  .\31
    width: 5%
  .\33
    width: 22%
  .\34
    width: 30%
  .\35
    width: 40%
  .\32
    width: 15%
  .row
    display: table
    border-spacing: 1em 0

.w-100, .row
  width: 100%

// .card:focus, hr
//   outline: 0
//   border: solid $primary-color

.card, pre
  padding: 1em
//   border: solid 1px $light

a:hover, .btn:hover
  opacity: .6

.c
  max-width: 60em
  padding: 1em
  margin: auto
  font: 1em/1.6 $font
  box-sizing: border-box

h6, .h6
  font: 300 1em $font

h5, .h5
  // font: 300 1.2em $font
  font: 600 1em $font

h4, .h4
  // font: 300 1.5em $font
  font: 300 1.2em $font

h3, .h3
  // font: 300 2em $font
  font: 600 1.2em $font

h2, .h2
  // font: 300 2.2em $font
  font: 300 1.5em $font

h1, .h1
  // font: 300 2.5em $font
  font: 300 1.8em $font

a
  color: $primary-color
  text-decoration: none

.btn.primary
  color: white
  background: $primary-color
  border: solid $primary-color

pre
  overflow: auto

// td, th
//   padding: 1em
//   // text-align: left
//   border-bottom: solid 1px $light

.btn
  padding: 1em
  letter-spacing: .1em
  text-transform: uppercase
  background: white
  border: solid
  font: 0.7em $font
  cursor: pointer

/* Fonts
@import url('https://fonts.googleapis.com/css?family=Ruluko&subset=latin-ext')
@import 'fonts'
@import 'icons'
@import 'scrollbars'

/* Site params
$color-bg: #0D131A
$color-paint: #1F558B
$color-text: #B4B1BE
$color-gray: #6A696E
$color-link: #3084D9, #1A9995
$color-grad: #B79891, #94716B
$bgi-body: url('../elem/ep_naturalblack.png')
$bgi-mask: url('../elem/subtle-carbon.png')
$bgi-dilu: rgba(white, .1)
$bgi-live: url('https://source.unsplash.com/400x300/?bokeh')
$font-yh: 'Luiss Sans', sans-serif
$font-yh-display: 'Ruluko', sans-serif
$link-states: '&:hover, &:focus, &:active'
$radius: 5px

%painted
  background: rgba($color-paint, .2)

%flex-vcenter
  display: flex
  margin: 0
  padding: 0

%fine-type
  font-feature-settings: 'palt' 1

%live-bg
  // background-clip: text with fallback
  // http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
  color: $color-text
  -webkit-text-fill-color: transparent
  background: -webkit-linear-gradient(transparent, transparent), $bgi-live no-repeat left center
  background: -o-linear-gradient(transparent, transparent)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-stroke: 1px rgba($color-text, .4)

=base_pattern($direction, $img: $bgi-mask)
  position: relative

  &::before
    content: ' '
    pointer-events: none
    display: block
    position: absolute
    z-index: -1
    background: $img
    height: 100%
    width: 9999px
    @if $direction == left
      right: 20px

=media($max-width)
  @media screen and (max-width: $max-width)
    @content

=narrow
  @include media(960px)
    @content

=phone-media
  @include media(760px)
    @content

=unhome
  body:not(.home) &
    @content

=phone
  @include phone-media
    @include unhome
      @content

@function shadow($color, $rad)
  $result: ()
  @each $x in (1px, -1px)
    @each $y in (1px, -1px)
      $result: append($result, ($color $x $y $rad), $separator: comma)
  @return $result

/* Site block styles
html, body
  color: $color-text
  font: 300 100% $font

// IE-proof min-height with flexbox
// https://stackoverflow.com/questions/39341115/ie11-calculates-the-height-of-parent-flex-container-incorrectly
html
  display: flex
  flex-direction: column

body
  min-height: 100vh
  max-width: 100vw
  text-rendering: optimizeLegibility

body::after // Preload random image
  position: absolute
  width: 0
  height: 0
  overflow: hidden
  z-index: -1
  content: $bgi-live

pre, code, var, samp, kbd
  font-family: 'Consolas', monospace

pre
  background: $bgi-mask
  @include scrollbars(6px, $color-gray, $color-bg)

hr
  background: linear-gradient(to right, $color-grad)
  height: 1px
  width: 100%
  border: 0

  #menu &
    background: linear-gradient(to left, $color-grad)

.table-block // scrollable table (only for Asciidoc)
  margin: auto
  max-width: 100%
  overflow-x: auto
  @include scrollbars(6px, $color-gray, $color-bg)

table
  margin: auto
  width: max-content
  width: -moz-max-content
  width: -webkit-max-content

  .nowrap &
    white-space: nowrap

td, th
  padding: .5em
  border-bottom: solid 1px $color-gray
  max-width: 30em

  &.halign-left
    text-align: left
  &.halign-center
    text-align: center
  &.halign-right
    text-align: right
  // work around default valign=top
  // only apply when .valign set to table
  .table-block.valign &
    &.valign-top
      vertical-align: top
    &.valign-center
      vertical-align: middle
    &.valign-bottom
      vertical-align: bottom

figure, caption, figcaption
  display: block
  margin: auto
  text-align: center

.container
  @extend %flex-vcenter
  background: $bgi-body $color-bg
  align-items: stretch
  overflow-x: hidden

  @include phone-media
    &:not(.home)
      flex-direction: column-reverse
      overflow-x: visible

#left
  @extend %flex-vcenter
  flex: 12 12 600px
  max-width: 960px

  @include unhome
    align-items: stretch
    min-width: 0

  @include narrow
    flex: 12

#right
  @extend %flex-vcenter
  @extend %painted
  flex: 5 5 250px
  justify-content: flex-start
  max-width: 400px
  align-items: flex-start

  @include narrow
    flex: 5

  @include phone
    max-width: none
    position: sticky
    position: -webkit-sticky
    top: 0
    background: $bgi-body

  #menu
    position: sticky
    position: -webkit-sticky
    top: 0

#left-blank
  flex: 9 9 auto

  @include unhome
    @include base_pattern(left, $bgi-dilu)

  @include narrow
    display: none

#right-blank
  @extend %painted
  flex: 8 8 auto

  @include unhome
    @include base_pattern(right, $bgi-dilu)

  @include narrow
    display: none

.middle
  align-self: center
  flex: 1 1 auto
  display: flex
  min-height: 400px
  _:-ms-input-placeholder, :root & // IE hack
    height: 400px // gave up variable height on IE

  #left &
    @include base_pattern(left)

  #right &
    @include base_pattern(right)

    background: $bgi-dilu
    border-radius: 0 $radius $radius 0

#main
  .container & // in order not overridden by priority
    margin-left: -20px

    @include narrow
      margin: 0
      padding: 0 1rem

  @include unhome
    height: 100%
    width: 100%

  .home &
    @extend #menu
    font-feature-settings: "palt" 0

.median
  width: 1px
  flex: 0 0 auto
  margin: 10px 10px 10px 9px
  background: linear-gradient(to bottom, $color-grad)

  .home &
    margin: -10px 10px -10px 9px

  @include narrow
    margin-left: 0

  @include phone
    display: none

%larger-nav
  font-size: 1.2rem

#nav, #info, #additional
  margin: 0 .5em

#menu-switch, #menu-icon
  display: none

#menu
  @extend %flex-vcenter
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center

  @include unhome
    min-height: 100vh

  ul
    margin: 0
    padding: 0
    width: 100%
    word-break: keep-all

  li
    display: block
    padding: .5em 0
    list-style-type: none

    .home &
      @extend %larger-nav

    @include narrow
      font-size: 1rem

    a
      display: block
      color: $primary-color
      #{$link-states}
        font-weight: bold
        color: $primary-color
        background: $bgi-dilu

#home
  display: block
  font-size: 2rem
  line-height: 1
  margin: .5em auto
  color: $color-text
  text-align: center

  #{$link-states}
    color: white
    background: $bgi-live center
    text-shadow: shadow($color-paint, 2px)
    border-radius: $radius
    opacity: 1

li
  #categories &
    border-bottom: dotted 1px $color-gray

    &:last-child
      border-bottom: 0

  #breadcrumbs &, #neighbors &, #info &
    display: flex
    align-items: baseline

    a
      margin-left: -2em
      padding-left: 2.5em
      flex-grow: 1
      overflow-x: hidden
      text-overflow: ellipsis

    &.no-entry
      display: none

      @include phone
        display: flex

        &::before
          color: $color-gray

@include phone-media
  #menu-icon
    display: block
    cursor: pointer
    position: fixed
    z-index: 99
    top: 1rem
    right: 1rem
    width: 2rem
    height: 2rem
    background: url(../elem/open-book.svg) no-repeat center/80%
    border-radius: $radius

    input:checked + &
      background-image: url(../elem/open-book-on.svg)
      background-color: $color-text

  #menu
    @include unhome
      background: rgba($color-paint, .2) // SASS: You may not @extend an outer selector from within @media.
      max-height: 4rem
      min-height: unset
      overflow-y: hidden
      justify-content: flex-start

      #breadcrumbs, #neighbors, #categories, #info ul
        display: flex

      #breadcrumbs, #neighbors, #info
        li
          max-width: 50%

      #neighbors
        justify-content: space-between

      #categories, #info ul
        justify-content: space-evenly

      #categories li
        border: none

      #breadcrumbs
        display: flex
        justify-content: center

        li:not(:last-child)
          display: none

    input:checked ~ &
      max-height: 100vh

/* Site typography styles
%centered
  text-align: center

h1, h2, h3, h4, h5, h6, header, .site-title, #menu
  @extend %fine-type

h1, h2, h3, h4, h5, h6
  color: $primary-color

header
  margin-bottom: 2.4rem

strong
  font-weight: 300
  color: $primary-color

em
  font-weight: 600

dfn, dt
  font-weight: 600
  color: white
  font-style: normal

a
  &:link
    color: nth($color-link, 1)
  &:visited
    color: nth($color-link, 2)
  #{$link-states}
    color: $primary-color

// cf. https://stackoverflow.com/a/26245056
#overview
  ol
    list-style-type: none
    counter-reset: item
    margin: 0
    padding: 0

  ol > li
    display: table
    counter-increment: item
    margin-bottom: 0.6em

    &:before
      content: counters(item, ".") ". "
      display: table-cell
      padding-right: 0.6em

  li ol > li
    margin: 0

    &:before
      content: counters(item, ".") " "

.site-title
  font-family: $font-yh-display

[lang='x-yh'], .rom, .eg
  font: 1.4rem/1.2 $font-yh
  font-style: inherit
  font-weight: inherit

.rom
  &::before
    content: '\2039'
    margin-left: .2em
  &::after
    content: '\203A'
    margin-right: .2em

.val
  font: 1.25rem/1.2 'Gentium', 'Cambria', 'Times New Roman', 'Times', serif
  &::before
    content: '['
    margin-left: .2em
  &::after
    content: ']'
    margin-right: .2em

.primary-logo
  @extend %live-bg

  margin: 0
  line-height: 1
  font-size: 6rem

  // 640px * 0.15 = 96px = 6rem
  @include media(640px)
    font-size: 15vw

.logo-desc
  font-size: 1.6rem
  margin: 0
  color: $color-gray

.page-title
  text-align: right

.here
  color: $color-gray
  font-weight: bold

#additional p
  @extend %centered

// asciidoctor-html5s footnote style
.footnote-ref
  vertical-align: super
  font-size: smaller
  line-height: normal