$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../elem" !default;

$icon-calendar: "\e900";
$icon-dot-arrow: "\e901";
$icon-dot-left-arrow: "\e902";
$icon-dot-right-arrow: "\e903";
$icon-refresh: "\e904";

