<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>{{ if .IsHome }}トップページ{{ else }}{{ .Title }}{{ end }} &sect; {{ .Site.Title }}</title>
  {{ partial "social" . }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet">
  {{ if .IsHome }}
  <style type="text/css">
    html { overflow-x: hidden; }
  </style>
  {{ end }}
  {{ $main := resources.Get "css/site.sass" | toCSS (dict "outputStyle" "compressed") }}
  <link rel="stylesheet" type="text/css" href="{{ $main.Permalink }}">
</head>