{{/* generate flattened outline */}}
{{ with index .Site.Data.outline .Section }}
  {{ template "outliner" (dict "me" $ "list" (index . "index") "section" $.Section "name" $.Section) }}
{{ end }}

{{ define "outliner" }}
  {{ $m := .me }}
  {{ $s := .section }}
  {{ $n := .name }}
  {{ $o := index $m.Site.Data.outline $n }}
  {{ range .list }}
    {{ if isset $o . }}
      {{ template "outliner" (dict "me" $m "list" (index $o .) "section" (printf "%s/%s" $s .) "name" $n) }}
    {{ else }}
      {{ $m.Scratch.Add (printf "sequences.%s" $n) (printf "/%s/%s" $s . | slice) }}
    {{ end }}
  {{ end }}
{{ end }}

<nav id="nav">
  <a id="home" class="site-title" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
  <ul id="breadcrumbs">
    {{ template "bread" (dict "me" . "from" .) }}
  </ul>

  {{ with .Scratch.Get (printf "sequences.%s" .Section) }}
    {{ $seq := . }}
    {{ $search := true }}
    {{ $base := printf "/%s%s" $.File.Dir $.File.TranslationBaseName }}
    {{ range $i, $e := $seq }}
      {{ if eq $e $base | and $search }}
        {{ $prev := index $seq (sub $i 1) }}
        {{ $next := index $seq (add $i 1) }}
          <ul id="neighbors">
            {{ $hasPrev := $prev | and (gt $i 0) }}
            {{ $hasNext := $next | and (sub (len $seq) 1 | lt $i) }}
            <li id="prev" class="icon-dot-left-arrow {{ if not $hasPrev }}no-entry{{ end }}">
              {{ if $hasPrev }}
                {{ $p := $.Site.GetPage $prev }}
                <a title="前の項目" href="{{ $p.Permalink }}">{{ $p.Title }}</a>
              {{ end }}
            </li>
            <li id="next" class="icon-dot-right-arrow {{ if not $hasNext }}no-entry{{ end }}">
              {{ if $hasNext }}
                {{ $n := $.Site.GetPage $next }}
                <a title="次の項目" href="{{ $n.Permalink }}">{{ $n.Title }}</a>
              {{ end }}
            </li>
          </ul>
        {{ $search = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  <ul id="categories">
    {{ partial "primary-nav" . }}
  </ul>
</nav>

<hr>
  <div id="info">
    {{ partial "metadata" . }}
  </div>
  <div id="additional">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="/elem/by.svg" width="88">
      </a>
    </p>
  </div>

{{ define "bread" }}
  {{ if .me.Parent }}
    {{ template "bread" (dict "me" .me.Parent "from" .from )  }}
  {{ else if not .me.IsHome }}
    {{ template "bread" (dict "me" .me.Site.Home "from" .from )  }}
  {{ end }}

  {{ if and (ne .me .from) (not .me.IsHome) }}
    <li class="icon-dot-arrow">
      <a title="章に戻る" href="{{ .me.Permalink }}">{{ .me.Title }}</a>
    </li>
  {{ end }}
{{ end }}