{{/* i.e. .Section equivalent for .CurrentSection? */}}
{{ $csname := index (split .CurrentSection.File.Dir "/" | last 2) 0 }}

{{ with index .Site.Data.outline .Section }}
  {{ $sec := cond (eq $.Section $csname) "index" $csname }}
  <ol>
    {{ template "gen-summaries" (dict "me" $ "list" (index . $sec) "all" .) }}
  </ol>
{{ end }}

{{ define "gen-summaries" }}
  {{ $a := .all }}
  {{ $m := .me }}
  {{ range .list }}
    <li>
      {{ $p := $m.GetPage . }}
      {{ $y := isset $a . }}
        <a href="{{ $p.Permalink }}">
          {{ if $y }}
            <b>{{ $p.Title }}</b>
          {{ else }}
            {{ $p.Title }}
          {{ end }}
        </a>
        <br>
        {{ $p.Description }}
        {{ if $y }}
          <ol>
            {{ template "gen-summaries" (dict "me" $p "list" (index $a .) "all" $a) }}
          </ol>
        {{ end }}
    </li>
  {{ end }}
{{ end }}
{{/* {{ index (split .CurrentSection.File.Dir "/" | last 2) 0 | printf "%#v" }} */}}