<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header" . }}

  <body class="container {{ if .IsHome }}home{{ end }}">
    <div id="left-blank"></div>
    <div id="left">
      {{ block "home_main" . }}
        <section id="main" class="c">
          {{ block "main" . }}{{ end }}
        </section>
        <div class="median"></div>
      {{ end }}
    </div>
    <div id="right">
      {{ block "home_side" . }}
        <input id="menu-switch" type="checkbox">
        <label id="menu-icon" for="menu-switch"></label>
        <section id="menu">
          {{ partial "menu" . }}
        </section>
      {{ end }}
    </div>
    <div id="right-blank"></div>
</html>