<p>
  <a href="https://www.toptal.com/designers/subtlepatterns/ep-natural-black/">EP Natural Black</a> by Carl CC-BY-SA 3.0
</p>
<p>
  <a href="https://www.transparenttextures.com/subtle-carbon.html">Subtle Carbon</a> by Designova CC-BY-SA 3.0
</p> 
<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/"
    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a></div>