{{ $pdate := cond (not .PublishDate.IsZero) .PublishDate .Site.Params.initialDate }}
{{ $udate := cond (le (cond (index .Params "u_aprfth" | default false) .Site.Params.initialDate (time "2020-04-04T00:00:00Z")) .Lastmod) .Lastmod .Site.Params.initialDate }}
<ul>
  <li id="created" class="icon-calendar" title="公開日時">{{ $pdate.Format "2006 年 1 月 2 日" }}</li>
  <li id="updated" class="icon-refresh" title="更新日時">{{ $udate.Format "2006 年 1 月 2 日" }}</li>
</ul>