{{ $mySection := .Section }}
{{ $list := slice "grammar" "misc" "dict" "about" }}
{{ $labels := dict "grammar" "文法" "misc" "資料集" "dict" "辞書" "about" "このサイト" }}

{{ range $list }}
  {{ $val := index $labels . }}
  <li>
    {{ if eq . $mySection }}
      <span class="here">{{ $val }}</span>
    {{ else }}
      {{ with $.Site.GetPage "section" . }}
        <a href="{{ .Permalink }}">{{ $val }}</a>
      {{ else }}
        <s>{{ $val }}</s>
      {{ end }}
    {{ end }}
  </li>
{{ end }}
<li>
  <a href="https://twitter.com/wartemeinnicht">Twitter</a>
</li>