<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Wartemeinnicht">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:image" content="{{ "elem/sitethumb.png" | absURL }}">
<meta property="og:site_name" content="Yhëhtozr 人工言語フュトル">