<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>404 - {{ .Site.Title }}</title>
  </head>
  <body style="background:url(/elem/ep_naturalblack.png)">
  {{ $x := 320 }}
  {{ $y := 228 }}
    <a href="{{ .Site.BaseURL }}" style="display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:{{ $x }}px;height:{{ $y }}px;">
      <img src="{{ "elem/notfound.jpg" | absURL }}" width="{{ $x }}" height="{{ $y }}">
    </a>
  </body>
</html>