{{ define "home_main" }}
  <div class="middle">
    <section id="main">
      <div class="site-heading">
        <header>
          <h1 class="site-title primary-logo">{{ .Title }}</h1>
          <p class="logo-desc">{{ .Params.subtitle }}</p>
        </header>
        {{ .Content }}
      </div>
    </section>
    <div class="median"></div>
  </div>
{{ end }}

{{ define "home_side" }}
  <div class="middle">
    <section id="menu">
      <nav id="nav">
        <ul id="categories">
          {{ partial "primary-nav" . }}
        </ul>
      </nav>
    </section>
  </div>
{{ end }}